.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    margin: 0px auto;
    min-width: 300px;
    td {
        border: none;
        .paragraph > p {
            margin-top: 0px;
        }
    }
}

.admonitionblock > table td.icon {
    text-align: center;
    width: 60px;
    padding: 0%;
    font-size: 2em;
}

.admonitionblock > table td.icon img {
    max-width: none;
}

.admonitionblock > table td.icon .title {
    font-weight: bold;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    text-transform: uppercase;
    font-size: 2.0em;
}

.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    // Default
    border-left
    : 1px solid $light-table-color;
    @media (prefers-color-scheme: dark) {
        border-left: 1px solid $dark-table-color;
    }

    @media (prefers-color-scheme: light) {
    border-left: 1px solid $light-table-color;
    }

    [data-theme=dark] & {
    border-left: 1px solid $dark-table-color;
    }

    [data-theme=light] & {
    border-left: 1px solid $light-table-color;
    }
    //color: rgba(0, 0, 0, .6)
}

.admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0;
}


.admonitionblock td.icon .icon-note::before {
    content: "\f05a";
    color: #0066a1
}

.admonitionblock td.icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #CC0
}

.admonitionblock td.icon .icon-warning::before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important::before {
    content: "\f06a";
    color: #bf0000
}

.imageblock > .title {
    font-style: italic;
    margin-bottom: 1em;
}
