{{ i18n "latestPost" }}
<div>
    {{ range ( where .Site.RegularPages "Type" "posts" | first 1 ) }}
        <span class="latest-post">
            <a href="{{.Permalink}}" class="latest-post">
                <span class="latest-post-title">{{.Title}} </span>
                    <span class="latest-post-day">
                        {{ if .Site.Params.dateformShort }}
                            {{ .Date.Format .Site.Params.dateformShort }}
                        {{ else }}
                            {{ .Date.Format "Jan 2"}}
                        {{ end }}
                    </span>
                </a>
            </span>
        </span>
    {{end}}
</div>
